*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;    
}
body{
    position: relative;
    width:940px;
    height:1000px;
}
header{
    width: auto;
    height:auto;
    padding: 1em 2em 1em;
}
.logo:hover{
    transition: 1s;
    transform: scale(1.2);
    filter: opacity(0.5);
}
.boton_iniciar{
    position: absolute;
    width: 317px;
    height: 114px;
    left: 30%;
    top: 30%;
    border-radius: 30px;
    box-shadow: 5px 0px 0px black;

    font-size: 2.5em;
    text-align: center;
    text-shadow: 5px 5px 0px rgb(216, 213, 213);
    cursor:pointer;
    
    
}
.boton_iniciar:hover{
    transform: scale(0.95);
    transition: 0.5s;
    font-size: 35px;
    border: 5px solid black;
    box-shadow: 5px 0px 0px black;    
}
.footer{
    width: 100%;
    height: 112px;
    text-align: center;
    padding: 2em 0 0 0;
    font-size: 14px;
}